@media (max-width: 1024px) {

    .contacts-main h1,
    #contactOverlay h1 {
        font-size: 42px;
    }

    .contacts-main h2,
    #contactOverlay h2 {
        font-size: 36px;
    }

    .contacts-main h3,
    #contactOverlay h3 {
        font-size: 30px;
    }

    .contacts-main h4,
    #contactOverlay h4 {
        font-size: 24px;
    }

    .contacts-main h5,
    #contactOverlay h5 {
        font-size: 20px;
    }

    .contacts-main h6,
    #contactOverlay h6 {
        font-size: 17px;
    }

    .contacts-main span,
    #contactOverlay span {
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .contacts-main h1,
    #contactOverlay h1 {
        font-size: 36px;
    }

    .contacts-main h2,
    #contactOverlay h2 {
        font-size: 32px;
    }

    .contacts-main h3,
    #contactOverlay h3 {
        font-size: 28px;
    }

    .contacts-main h4,
    #contactOverlay h4 {
        font-size: 22px;
    }

    .contacts-main h5,
    #contactOverlay h5 {
        font-size: 18px;
    }

    .contacts-main h6,
    #contactOverlay h6 {
        font-size: 16px;
    }

    .contacts-main p,
    #contactOverlay p {
        font-size: 16px;
    }

    .contacts-main span,
    #contactOverlay span {
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    .contacts-main h1,
    #contactOverlay h1 {
        font-size: 32px;
    }

    .contacts-main h2,
    #contactOverlay h2 {
        font-size: 28px;
    }

    .contacts-main h3,
    #contactOverlay h3 {
        font-size: 24px;
    }

    .contacts-main h4,
    #contactOverlay h4 {
        font-size: 20px;
    }

    .contacts-main h5,
    #contactOverlay h5 {
        font-size: 16px;
    }

    .contacts-main h6,
    #contactOverlay h6 {
        font-size: 16px;
    }

    .contacts-main p,
    #contactOverlay p {
        font-size: 16px;
    }

    .contacts-main span,
    #contactOverlay span {
        font-size: 16px;
    }
}

@media (max-width: 320px) {

    .contacts-main h1,
    #contactOverlay h1 {
        font-size: 28px;
    }

    .contacts-main h2,
    #contactOverlay h2 {
        font-size: 24px;
    }

    .contacts-main h3,
    #contactOverlay h3 {
        font-size: 20px;
    }

    .contacts-main h4,
    #contactOverlay h4 {
        font-size: 18px;
    }

    .contacts-main h5,
    #contactOverlay h5 {
        font-size: 16px;
    }

    .contacts-main h6,
    #contactOverlay h6 {
        font-size: 16px;
    }

    .contacts-main p,
    #contactOverlay p {
        font-size: 16px;
    }

    .contacts-main span,
    #contactOverlay span {
        font-size: 16px;
    }
}

@media (max-width: 357px) {
    #createContactBtn {
        font-size: 20px;
    }
}